@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

#header {
  background: url('/assets/images/header.jpg') no-repeat center center;
  background-size: cover;
  height: 200px;
  width: 100%;
  color: #2a4052;
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1.2);

}

#footer{
  background: #2a4052;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 80px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

.formulario{
  width: 80%;
  margin: 0 auto;
}
