body {
    background-color: aqua;
}

#duration {
    transition-duration: 2s;
    /*duracion*/

    transition-property: background-color, width;
    /*a que propiedades aplica*/

    transition-delay: 1s;
    /*cuantos segundos esperará hasta hacerse*/

    /* transition: <property> <duration> <timing-function> <delay> */
    /*transition: all 0.5s linear 0.5s; todo lo anterior (ver comentario de arriba)*/

    transition: background-color 0.5s, 
    width 3s;
    /*esto implica que se aplicarán tiempo distintos al color de fondo y 
    al ancho durante la transición*/

    background: green;
    width: 500px;
    height: 500px;
}

#duration:hover {
    background: aqua;
    width: 100px;
    /*transition: all 2s linear; esto aplicará unas propiedades de animación mientras :hover esté activo*/
}