<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>
<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" >
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1>Pedidos</h1>
        </div>

    </div>
    <div class="clearfix">
        <hr/>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 16.8%">Id</div>
        <div style="float: left;width: 16.8%">Fecha</div>
        <div style="float: left;width: 16.8%">Total</div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>

    <div  th:each="pedido : ${listaPedidos}" style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 16.8%" th:text="${pedido.id}">0</div>
        <div style="float: left;width: 16.8%" th:text="${pedido.fecha}">fecha</div>
        <div style="float: left;width: 16.8%" th:text="${pedido.total}">total</div>

    </div>
</div>

</body>
</html>