/*#container{
    width: 1900px;
}

.fotos{
    width: 100px;
    height: 100px;
}

#carrete{
    width: 300px;
    height: 300px;
    position: absolute;
}


#uno{
    margin-left: 680px;
}

#dos{
    margin-top: -50px;
    margin-left: 520px;
}

#tres{
    margin-top: 20px;
    margin-left: 400px;
}

#cuatro{
    margin-top: 30px;
    margin-left: 520px;
}
*/

.fotos{
    width: 100px;
    height: 100px;
}

#uno{
    margin-left: 300px;
}
#dos{
    margin-left: 100px;
}
#tres{
    margin-left: 300px;
}
#cuatro{
    margin-top: -200px;
    margin-left: 500px;
}

button:active #uno{
    transform: rotate(90deg) translate(100px);
}
button:active #dos{
    transform: rotate(120deg) translate(200px);
}

button:active #tres{
    transform: rotate(150deg) translate(300px);
}

button:active #cuatro{
    transform: rotate(190deg) translate(400px);
}


