<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Comercial</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 900px;">
    <form th:action="@{/comerciales/detalle}" th:object="${comercial}" method="post">
        <div class="clearfix">
            <div style="float: left; width: 50%">
                <h1>Detalle Comercial</h1>
            </div>
        </div>

        <div class="clearfix">
            <hr/>
        </div>

        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label>ID</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input th:value="${comercial.id}" value="Código" readonly="readonly"/>
            </div>
        </div>
        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label>Nombre</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input th:value="${comercial.nombre}" value="nombre" readonly="readonly"/>
            </div>
        </div>
        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label>Apellido1</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input th:value="${comercial.apellido1}" value="apellido1" readonly="readonly"/>
            </div>
        </div>
        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label>Apellido2</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input th:value="${comercial.apellido2}" value="apellido2" readonly="readonly"/>
            </div>
        </div>
        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label>Comisión</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input th:value="${comercial.comision}" value="comision" readonly="readonly"/>
            </div>
        </div>

        <div class="clearfix">
            <hr/>
        </div>

        <div style="margin-top: 6px" class="clearfix">
            <div style="float: left;width: 50%">
                Pedidos
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <div style="border: solid 1px grey; border-radius: 15px; margin-top: 10px; padding: 5px 10px 10px 10px; width: 200px"
                     th:each="pedidoDTO : ${pedidosDTO}">

                    <p th:text="${pedidoDTO.getFecha()}">Fecha</p>
                    <p th:text="${pedidoDTO.getTotal()} + ' €'">Total</p>
                    <a th:href="@{/clientes/__${pedidoDTO.getIdCliente()}__}" th:text="${pedidoDTO.getNombreCliente()}"
                       target="_blank">Cliente</a>
                </div>
            </div>
            <div th:if="${pedidosDTO.isEmpty()}" style="float: none;width: auto;overflow: hidden;">
                <p>No hay pedidos</p>
            </div>
        </div>
    </form>
    <div style="display: flex; font-size: 18px; margin-top: 20px; justify-content: center">
        <p th:text="#{detCom.totalComercial}"></p>
        <p style="margin-left: 5px; margin-right: 30px; color: deepskyblue" th:text="${pedidosDTO.size()}">Total Comercial</p>
        <p th:text="#{detCom.porcentaje}"></p>
        <p style="margin-left: 5px; color: darkgreen" th:text="${porcentajePedidos}"></p>
        <p style="margin-right: 5px; color: darkgreen">%</p> <p style="color: midnightblue; font-weight: bold">/</p>
        <p style="margin-left: 5px; color: midnightblue; font-weight: bold" th:text="${totalPedidos}"></p>
    </div>
</div>
<div style="display: flex; margin-top: 50px; margin-bottom: 50px">
    <button style="margin: auto"><a th:href="@{/comerciales}">Volver</a></button>
</div>

</body>
</html>