<div style="width: 90%; margin: 0 auto">
  <div class="d-flex justify-content-center row">
    <div class="col-md-auto mt-5">
      <h2>Lista de Empresas de Málaga</h2>
    </div>

  </div>
  <div class="col-md-auto" style="margin-bottom: 100px">
    <a routerLink="/empresa/create" class="btn btn-success float-md-end" style="margin-left: 2px; margin-top: 12px;">Crear
      Nueva Empresa</a>
  </div>
  <div id="select-div">
    <h3>Filtrar por nombre
      <input type="text" [(ngModel)]="filtro" (input)="filtrarEmpresasPorNombre()">
    </h3>
  </div>

  <table id="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Distrito</th>
      <th>Web</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <div *ngIf="empresasFiltradas.length === 0" class="alert alert-danger mt-3 message" role="alert">
      No hay empresas con ese criterio de búsqueda.
    </div>
    <tbody id="tbody">
    <tr *ngFor="let empresaa of empresasFiltradas ">
      <td>{{ empresaa.idEmpresa }}</td>
      <td>{{ empresaa.nombre }}</td>
      <td>{{ empresaa.distrito.nombre }}</td>
      <td>{{ empresaa.web }}</td>
      <td>{{ empresaa.email }}</td>
      <td>{{ empresaa.telefono }}</td>
      <td>{{ empresaa.direccion }}</td>
      <td>{{ empresaa.latitud }}</td>
      <td>{{ empresaa.longitud }}</td>
      <td>
        <button type="button" [routerLink]="['/empresa/', 'edit', empresaa.idEmpresa ]" class="btn btn-secondary"
                style="margin-left: 2px; margin-top: 2px;">Editar
        </button>
      </td>
      <td>
        <button type="button" (click)="deleteEmpresa(empresaa.idEmpresa)" class="btn btn-danger"
                style="margin-left: 2px; margin-top: 2px;">Eliminar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
