<div class="container">
  <div class="d-flex justify-content-center row">
    <div class="col-md-6 mt-5">
      <h2>Lista de Distritos de Málaga</h2>
    </div>
    <div class="col-md-6 mt-5">
      <a routerLink="/distrito/create" class="btn btn-success float-md-end" style="margin-left: 2px; margin-top: 2px;">Crear Nuevo Distrito</a>
    </div>
  </div>
  <table id="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let distrito of distritos">
        <td>{{ distrito.idDistrito }}</td>
        <td>{{ distrito.nombre }}</td>
        <td><button type="button" [routerLink]="['/distrito/', 'edit', distrito.idDistrito  ]" class="btn btn-secondary" style="margin-left: 2px; margin-top: 2px;">Editar</button></td>
        <td><button type="button" (click)="deleteDistrito(distrito.idDistrito)" class="btn btn-danger" style="margin-left: 2px; margin-top: 2px;">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
