.container {
    display: flex;
    gap: 50px;
}

span {
    font-weight: bold;
    font-size: 20px;
}

.imgUser {
    padding-top: 20px;
    width: 70%;
}

.imgFoll {
    width: 120px;
    height: 120px;
    margin: 15px 0;
}

#user {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#followers {
    display: flex;
    flex-direction: column;
}

#following {
    display: flex;
    flex-direction: column;
}

#error {
    color: red;
}