img{
    width: 40px;
    height: 40px;
}

#container3, #container4, #container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 300px;
    border: 1px solid black;

}
#container {
    display: flex;
    align-items: center;
    width: 600px;
    height: 0px;
    margin-top: 200px;
}

#container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 600px;
    margin-top: 100px;
}


#muestraTodo{
    margin-top: 200px;
}

