h1{
    color: #F00;
    font-size: 32px;
    font-family: Verdana, Calibri, sans-serif;
}

body{
    color:#00F;
    background-color: #CFC;
    font-size: 16px;
    font-family: Georgia, Cambria, serif;
}

h2{
    color: #A00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 24px;
}

ul li span{
    color:  #060;
}

strong{
    font-size: 20px;
}

em{
    color: #FFF;
    background-color: #000;
}