th, td {
   border: 1px solid black;
   padding: 8px;
   text-align: left;
}

body{
   margin: 0;
   max-width: 1000px;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

.info{
   background-color:red;
   align-self: center;
}