<div class="container">

  <div class="d-flex justify-content-end mb-3">
    <a href="/empresa/crear" class="btn btn-success">Crear Nueva Empresa</a>
  </div>

  <div class="mb-2 custom-bg-primary p-2 rounded">
    <h4 class="mb-2 text-black" style="font-size: 40px">Filtrar</h4>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" placeholder="Nombre de la empresa" [(ngModel)]="filtro" (input)="filtrarEmpresasPorNombre()">
    </div>
  </div>

  <div *ngIf="empresasFiltradas.length === 0" class="alert alert-danger custom-bg-danger" role="alert">
    No hay empresas con ese criterio de búsqueda.
  </div>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let em of empresasFiltradas" [class.custom-bg-danger]="em.id % 2 === 0">
      <td>{{ em.id }}</td>
      <td><a href="/empresa/detalle/{{em.id}}" [class.enlace-par]="em.id % 2 === 0"> {{ em.nombre }} </a></td>
      <td>{{ em.direccion }}</td>
      <td class="copiar" (click) = "copiarAlPortapapeles(em.email)">{{ em.email }}</td>
      <td>{{ em.telefono }}</td>
      <td>
        <button type="button" [routerLink]="['/empresa/editar', em.id ]" class="btn btn-outline-secondary">Editar</button>
        <button type="button" (click)="deleteEmpresa(em.id)" class="btn btn-outline-danger ml-2">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table></div>
