<div id="top" class="container-fluid position-relative fs-4 px-4 top-bar">
  <nav role="navigation" aria-label="ubicación" class="navbar navbar-expand-lg navbar-light bg-white mt-4">
    <a href="#" class="navbar-brand p-1">
      <img ngSrc="assets/images/logoIESBelen.png" alt="Imagen Logo" height="100" width="100">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto px-4">
        <a href="#" class="nav-item nav-link active" routerLink="/">Inicio</a>
        <a href="#" class="nav-item nav-link" routerLink="/empresa">Empresas</a>
        <a href="#" class="nav-item nav-link" routerLink="/distrito">Distritos</a>
      </div>

    </div>
  </nav>
</div>
